* {
    font-family: "Inter", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Replace with a valid weight value */
    font-style: normal;
}

body {
    background: linear-gradient(to right, #ff0000 15%, #2575fc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-container a {
    display: block;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.login-container a:hover {
    text-decoration: underline;
}
